.body {
  background-color:khaki;
  font-family:arial;
}
.header {
  background-color:lightblue;
  color:gray;
  text-align:center;
  font-family:impact;
}
.headertwo {
  position:fixed;
  background-color:darkorange;
  color:brown;
  text-align:center;
  font-family:arial;
}
.paragraph {
  background-color:black;
  color:white;
  font-family:arial;
  font-size:200%;
  float:right;
}
.image {
  border-style:dashed;
  border-color:magenta;
  float:left;
}
.imagetwo {
  border-style:dotted;
  border-color:black;
  position:absolute;
  top:2000px;
  left:300px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.div {
  width:4px;
  color:purple;
}

