.body {
  background-color:khaki;
  font-family:arial;
}
.header {
  background-color:lightblue;
  color:gray;
  text-align:center;
  font-family:impact;
}
.headertwo {
  position:fixed;
  background-color:darkorange;
  color:brown;
  text-align:center;
  font-family:arial;
}
.paragraph {
  background-color:sienna;
  color:yellow;
  font-family:arial;
  float:right;
}
.image {
  border-style:dashed;
  border-color:magenta;
  float:left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.div {
  width:4px;
  color:purple;
}
